.seca {
    // height: 100vh;

    .container {
        height: 100vh;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas:
            "title"
            "text";
    }
}
